In [49]:
pip install Faker

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: Faker in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (37.1.0)
Requirement already satisfied: tzdata in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from Faker) (2025.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\Lenovo\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [1]:
from faker import Faker
fake=Faker()

In [2]:
fake.date()

'2001-03-04'

In [3]:
for i in range(10):
    print(fake.name())

Elizabeth Taylor
Eric Martinez
Christine Martin
Edward Weaver
Julia Palmer
Thomas Gray
Isaac Foster
Mrs. Susan Kennedy
Karen Montgomery
Robert Fletcher

In [4]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\Lenovo\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd 
import numpy as np
import random
from datetime import datetime

In [6]:
def gen_exp_data(num=100):
    data=[]
    for i in range (num):
        expense={
            "Date":fake.date(),
            "Category":fake.random_element(elements=("investment","stationary","subscription","sports & fitness","gym","transport")),
            "payment mode":fake.random_element(elements=("cash","UPI","wallet","net banking","credit card","debit card")),
            "Description":fake.sentence(),
            "Amount":round(random.uniform(100,1000),2),
            "Cashback":round(random.uniform(0,30),1)
        }
        data.append(expense)
    return pd.DataFrame(data)
df= gen_exp_data(100)
print(df)

          Date          Category payment mode  \
0   1992-05-22        stationary       wallet
1   1999-10-27        investment  credit card
2   2010-10-17      subscription  net banking
3   1998-03-09         transport          UPI
4   1983-10-27  sports & fitness  credit card
..         ...               ...          ...
95  1987-06-03        stationary         cash
96  2023-06-30         transport   debit card
97  2023-12-31  sports & fitness         cash
98  1994-04-01        investment   debit card
99  2021-09-30         transport          UPI

                                          Description  Amount  Cashback
0      Husband people just last some lot information.  733.73      13.8
1                  Many understand practice let main.  871.26      12.2
2                                    Move relate low.  433.65      22.9
3   Chair animal positive smile imagine cell anoth...  578.82       4.6
4            Allow himself pick drop question change.  827.64      11.6
..                                                ...     ...       ...
95        Ten civil director study firm imagine home.  870.16      21.6
96                  Organization play concern anyone.  647.22      19.6
97        Sort choose throughout weight minute scene.  326.74       0.6
98                 Recognize resource great suddenly.  905.28       9.4
99                Win describe find production think.  759.04      10.9

[100 rows x 6 columns]

In [7]:
def gen_exp_data(month , year,num=100):
    data=[]
    for i in range (num):
        day=random.randint(1,28)
        date=datetime(year,month,day).strftime('%Y-%m-%d')
        expense={
            "Date":date,
            "Category":fake.random_element(elements=("investment","stationary","subscription","sports & fitness","fees","transport")),
            "payment mode":fake.random_element(elements=("cash","UPI","wallet","net banking","credit card","debit card")),
            "Description":fake.sentence(),
            "Amount":round(random.uniform(100,1000),2),
            "Cashback":round(random.uniform(0,30),1)
        }
        data.append(expense)
    return pd.DataFrame(data)
jan24= gen_exp_data(1,2024,100)
print(jan24)

          Date          Category payment mode  \
0   2024-01-04  sports & fitness       wallet
1   2024-01-21              fees   debit card
2   2024-01-08        stationary  credit card
3   2024-01-25         transport          UPI
4   2024-01-21              fees  credit card
..         ...               ...          ...
95  2024-01-02        stationary         cash
96  2024-01-08      subscription  net banking
97  2024-01-25        stationary         cash
98  2024-01-08        investment          UPI
99  2024-01-08         transport          UPI

                                          Description  Amount  Cashback
0         Election Mr radio enter middle event place.  187.01      17.4
1                                  We eat down fight.  565.60       3.7
2   Door ok pass professional foot resource buildi...  704.25      13.7
3                               Half part coach save.  386.31      10.2
4                                   Half all prepare.  962.85      25.2
..                                                ...     ...       ...
95         Practice half establish by herself memory.  426.12      24.3
96      Environmental health of machine party common.  687.69      28.8
97  Determine enjoy research cut ever girl film st...  477.90      27.7
98              Under travel fall floor history such.  954.88      27.1
99  Indicate political nature result million simpl...  695.42       4.9

[100 rows x 6 columns]

In [8]:
def gen_exp_data(month , year,num=100):
    data=[]
    for i in range (num):
        day=random.randint(1,28)
        date=datetime(year,month,day).strftime('%Y-%m-%d')
        expense={
            "Date":date,
            "Category":fake.random_element(elements=("investment","stationary","subscription","sports & fitness","fees","transport")),
            "payment mode":fake.random_element(elements=("cash","UPI","wallet","net banking","credit card","debit card")),
            "Description":fake.sentence(),
            "Amount":round(random.uniform(100,1000),2),
            "Cashback":round(random.uniform(0,30),1)
        }
        data.append(expense)
    return pd.DataFrame(data)
feb24= gen_exp_data(2,2024,100)
print(feb24)

          Date          Category payment mode  \
0   2024-02-06        investment          UPI
1   2024-02-21         transport          UPI
2   2024-02-17      subscription         cash
3   2024-02-27              fees         cash
4   2024-02-14         transport  net banking
..         ...               ...          ...
95  2024-02-21  sports & fitness         cash
96  2024-02-16              fees       wallet
97  2024-02-19  sports & fitness  net banking
98  2024-02-14         transport          UPI
99  2024-02-27  sports & fitness         cash

                                      Description  Amount  Cashback
0                    Speech community get reveal.  276.63      24.7
1          Owner stand music some yard beat sing.  820.83       5.6
2                          Eat leg impact policy.  529.92      18.6
3           Space skill type look doctor similar.  523.38      21.4
4                          Now quality add major.  918.42      27.5
..                                            ...     ...       ...
95  Remember parent case than audience fly blood.  957.11      22.1
96                         Stage next seven deal.  905.89      15.9
97                        Position himself coach.  253.24      28.2
98                    Line high in indicate step.  218.02      23.3
99             Important second near middle than.  725.85       5.7

[100 rows x 6 columns]

In [9]:
def gen_exp_data(month , year,num=100):
    data=[]
    for i in range (num):
        day=random.randint(1,28)
        date=datetime(year,month,day).strftime('%Y-%m-%d')
        expense={
            "Date":date,
            "Category":fake.random_element(elements=("investment","stationary","subscription","sports & fitness","fees","transport")),
            "payment mode":fake.random_element(elements=("cash","UPI","wallet","net banking","credit card","debit card")),
            "Description":fake.sentence(),
            "Amount":round(random.uniform(100,1000),2),
            "Cashback":round(random.uniform(0,30),1)
        }
        data.append(expense)
    return pd.DataFrame(data)
march24= gen_exp_data(3,2024,100)
print(march24)

          Date          Category payment mode  \
0   2024-03-27      subscription  net banking
1   2024-03-10        investment       wallet
2   2024-03-23         transport          UPI
3   2024-03-03        investment       wallet
4   2024-03-05  sports & fitness   debit card
..         ...               ...          ...
95  2024-03-16              fees          UPI
96  2024-03-22      subscription  credit card
97  2024-03-05        stationary         cash
98  2024-03-22        stationary          UPI
99  2024-03-25         transport       wallet

                                   Description  Amount  Cashback
0                     Difficult dark industry.  789.63      20.2
1                          Stand body trouble.  835.91      24.3
2    Instead sit reach hear start until sense.  521.64      11.3
3             Until day measure theory school.  879.99       9.3
4        Administration professor media ready.  794.10      11.3
..                                         ...     ...       ...
95  Bit chair management station under manage.  694.55      17.6
96                      Choose event this Mrs.  988.27      12.5
97          Today production reveal agent six.  794.53      21.0
98                 Mean before coach movement.  821.21      19.5
99                 Ok nor accept will million.  512.92       7.7

[100 rows x 6 columns]

In [10]:
def gen_exp_data(month , year,num=100):
    data=[]
    for i in range (num):
        day=random.randint(1,28)
        date=datetime(year,month,day).strftime('%Y-%m-%d')
        expense={
            "Date":date,
            "Category":fake.random_element(elements=("investment","stationary","subscription","sports & fitness","fees","transport")),
            "payment mode":fake.random_element(elements=("cash","UPI","wallet","net banking","credit card","debit card")),
            "Description":fake.sentence(),
            "Amount":round(random.uniform(100,1000),2),
            "Cashback":round(random.uniform(0,30),1)
        }
        data.append(expense)
    return pd.DataFrame(data)
april24= gen_exp_data(4,2024,100)
print(april24)

          Date          Category payment mode  \
0   2024-04-09      subscription          UPI
1   2024-04-13  sports & fitness  net banking
2   2024-04-08        stationary       wallet
3   2024-04-01        stationary  credit card
4   2024-04-16  sports & fitness  net banking
..         ...               ...          ...
95  2024-04-21      subscription  net banking
96  2024-04-17        stationary  credit card
97  2024-04-08  sports & fitness       wallet
98  2024-04-08  sports & fitness  net banking
99  2024-04-08        stationary          UPI

                                          Description  Amount  Cashback
0    Animal painting energy form response much water.  225.37      22.9
1                            Billion garden know his.  934.68      29.7
2            Cell possible mind you magazine history.  746.62      21.9
3                 Evening no cultural half far score.  530.85      12.5
4           Order hotel food hair when international.  219.12      17.7
..                                                ...     ...       ...
95          Book risk tonight method size conference.  105.16       7.8
96                   Art before size claim use final.  822.50      17.1
97     Challenge as several one best trial skill not.  632.96      24.2
98               People ready thus south use network.  347.35      23.2
99  Plant camera administration learn suffer somet...  166.35      27.2

[100 rows x 6 columns]

In [11]:
def gen_exp_data(month , year,num=100):
    data=[]
    for i in range (num):
        day=random.randint(1,28)
        date=datetime(year,month,day).strftime('%Y-%m-%d')
        expense={
            "Date":date,
            "Category":fake.random_element(elements=("investment","stationary","subscription","sports & fitness","fees","transport")),
            "payment mode":fake.random_element(elements=("cash","UPI","wallet","net banking","credit card","debit card")),
            "Description":fake.sentence(),
            "Amount":round(random.uniform(100,1000),2),
            "Cashback":round(random.uniform(0,30),1)
        }
        data.append(expense)
    return pd.DataFrame(data)
may24= gen_exp_data(5,2024,100)
print(may24)

          Date          Category payment mode  \
0   2024-05-07        investment          UPI
1   2024-05-03  sports & fitness  net banking
2   2024-05-01  sports & fitness  net banking
3   2024-05-13        stationary  credit card
4   2024-05-05         transport       wallet
..         ...               ...          ...
95  2024-05-05  sports & fitness  net banking
96  2024-05-15        investment  net banking
97  2024-05-09  sports & fitness       wallet
98  2024-05-25      subscription          UPI
99  2024-05-12         transport          UPI

                                       Description  Amount  Cashback
0                         Product fast under list.  548.16      20.4
1   Mission evening face both answer enough leave.  267.78      26.7
2      Our line strong big but owner owner people.  464.11      13.2
3      Make claim around father specific hospital.  424.36      12.0
4      Difficult international carry account pick.  879.26       0.5
..                                             ...     ...       ...
95       Represent term wear peace floor election.  396.26      22.1
96          Likely power college party third hard.  797.87       5.6
97                      We leg impact hope public.  154.55       3.6
98                         Lead show foreign stay.  181.41      12.6
99                            Inside use car head.  236.20      11.8

[100 rows x 6 columns]

In [12]:
def gen_exp_data(month , year,num=100):
    data=[]
    for i in range (num):
        day=random.randint(1,28)
        date=datetime(year,month,day).strftime('%Y-%m-%d')
        expense={
            "Date":date,
            "Category":fake.random_element(elements=("investment","stationary","subscription","sports & fitness","fees","transport")),
            "payment mode":fake.random_element(elements=("cash","UPI","wallet","net banking","credit card","debit card")),
            "Description":fake.sentence(),
            "Amount":round(random.uniform(100,1000),2),
            "Cashback":round(random.uniform(0,30),1)
        }
        data.append(expense)
    return pd.DataFrame(data)
june24= gen_exp_data(6,2024,100)
print(june24)

          Date          Category payment mode  \
0   2024-06-18              fees          UPI
1   2024-06-10         transport         cash
2   2024-06-23  sports & fitness   debit card
3   2024-06-02  sports & fitness  credit card
4   2024-06-23        investment          UPI
..         ...               ...          ...
95  2024-06-04              fees         cash
96  2024-06-11      subscription  credit card
97  2024-06-22         transport  credit card
98  2024-06-12        investment          UPI
99  2024-06-23  sports & fitness         cash

                                          Description  Amount  Cashback
0                 Develop ever yard address evidence.  958.07       5.5
1    Suggest detail base summer rest interest within.  838.40      17.2
2                              Often nature data old.  453.25       9.1
3                             Serious wait according.  859.19       9.9
4                        It offer pressure near tell.  562.17      27.1
..                                                ...     ...       ...
95         Republican area lot effect reflect effort.  272.37       2.2
96                    Party us kind leader step away.  337.19       9.6
97                             High field my popular.  540.75      22.8
98             Until clearly must have hospital need.  788.58      15.1
99  Full collection medical quite knowledge care l...  179.83       1.2

[100 rows x 6 columns]

In [13]:
def gen_exp_data(month , year,num=100):
    data=[]
    for i in range (num):
        day=random.randint(1,28)
        date=datetime(year,month,day).strftime('%Y-%m-%d')
        expense={
            "Date":date,
            "Category":fake.random_element(elements=("investment","stationary","subscription","sports & fitness","fees","transport")),
            "payment mode":fake.random_element(elements=("cash","UPI","wallet","net banking","credit card","debit card")),
            "Description":fake.sentence(),
            "Amount":round(random.uniform(100,1000),2),
            "Cashback":round(random.uniform(0,30),1)
        }
        data.append(expense)
    return pd.DataFrame(data)
july24= gen_exp_data(7,2024,100)
print(july24)

          Date          Category payment mode  \
0   2024-07-07        investment  credit card
1   2024-07-04  sports & fitness  credit card
2   2024-07-28              fees          UPI
3   2024-07-16        stationary  credit card
4   2024-07-04         transport  credit card
..         ...               ...          ...
95  2024-07-02  sports & fitness  credit card
96  2024-07-16        investment         cash
97  2024-07-06      subscription          UPI
98  2024-07-12        investment  net banking
99  2024-07-28        stationary  net banking

                                          Description  Amount  Cashback
0                    Plan class late morning cell up.  380.88       9.7
1                          Around technology section.  250.01       4.3
2                               Town win himself get.  432.26       4.7
3                     Series religious sing film bed.  999.22      28.9
4             Minute eat life else much whole notice.  228.92       4.5
..                                                ...     ...       ...
95  Laugh family remain pattern evening agree well...  708.19       7.0
96        Purpose production method notice candidate.  698.24       5.8
97                                Another large five.  457.37      23.7
98            Bed national none support expect close.  195.18      10.8
99        Station marriage hair around computer test.  655.15      11.0

[100 rows x 6 columns]

In [14]:
def gen_exp_data(month , year,num=100):
    data=[]
    for i in range (num):
        day=random.randint(1,28)
        date=datetime(year,month,day).strftime('%Y-%m-%d')
        expense={
            "Date":date,
            "Category":fake.random_element(elements=("investment","stationary","subscription","sports & fitness","fees","transport")),
            "payment mode":fake.random_element(elements=("cash","UPI","wallet","net banking","credit card","debit card")),
            "Description":fake.sentence(),
            "Amount":round(random.uniform(100,1000),2),
            "Cashback":round(random.uniform(0,30),1)
        }
        data.append(expense)
    return pd.DataFrame(data)
august24= gen_exp_data(8,2024,100)
print(august24)

          Date      Category payment mode  \
0   2024-08-16     transport  credit card
1   2024-08-01    stationary  net banking
2   2024-08-23    stationary  credit card
3   2024-08-27     transport         cash
4   2024-08-04     transport         cash
..         ...           ...          ...
95  2024-08-23  subscription          UPI
96  2024-08-10  subscription       wallet
97  2024-08-24          fees         cash
98  2024-08-06          fees       wallet
99  2024-08-19     transport       wallet

                                          Description  Amount  Cashback
0                                 Where act movie it.  612.39      24.5
1                     Issue somebody move three talk.  590.06      19.2
2            Affect a power professional level board.  897.28       0.1
3                                 Claim learn school.  570.16      11.3
4   Say question place statement floor account nea...  330.43      13.4
..                                                ...     ...       ...
95        Three crime subject smile drug nothing not.  900.90      27.4
96                              Star find stage fact.  810.95      19.5
97  Least however east environment school determin...  351.27       0.2
98  Benefit significant particular line evening pe...  220.24      27.6
99  Role finally happen individual surface lay thr...  571.02      22.9

[100 rows x 6 columns]

In [15]:
def gen_exp_data(month , year,num=100):
    data=[]
    for i in range (num):
        day=random.randint(1,28)
        date=datetime(year,month,day).strftime('%Y-%m-%d')
        expense={
            "Date":date,
            "Category":fake.random_element(elements=("investment","stationary","subscription","sports & fitness","fees","transport")),
            "payment mode":fake.random_element(elements=("cash","UPI","wallet","net banking","credit card","debit card")),
            "Description":fake.sentence(),
            "Amount":round(random.uniform(100,1000),2),
            "Cashback":round(random.uniform(0,30),1)
        }
        data.append(expense)
    return pd.DataFrame(data)
sept24= gen_exp_data(9,2024,100)
print(sept24)

          Date          Category payment mode  \
0   2024-09-16  sports & fitness          UPI
1   2024-09-13              fees       wallet
2   2024-09-25              fees       wallet
3   2024-09-28        stationary   debit card
4   2024-09-20         transport          UPI
..         ...               ...          ...
95  2024-09-25         transport         cash
96  2024-09-03        stationary       wallet
97  2024-09-10        stationary   debit card
98  2024-09-06        stationary          UPI
99  2024-09-19              fees       wallet

                                          Description  Amount  Cashback
0   Body international none relationship little de...  851.51      26.1
1                       Authority site night on give.  251.70       4.9
2                  Heavy ready piece yes also finish.  226.13      22.8
3      Nature recognize change American market ready.  922.89      18.8
4                              Student listen parent.  992.46       3.0
..                                                ...     ...       ...
95            Series trouble state during later pull.  453.62       2.8
96            House audience play worry forget style.  384.10      15.5
97                           Push interest able view.  345.40       9.6
98                          Tree day big become film.  797.95       8.0
99                 Impact require reason school whom.  810.07       5.7

[100 rows x 6 columns]

In [16]:
def gen_exp_data(month , year,num=100):
    data=[]
    for i in range (num):
        day=random.randint(1,28)
        date=datetime(year,month,day).strftime('%Y-%m-%d')
        expense={
            "Date":date,
            "Category":fake.random_element(elements=("investment","stationary","subscription","sports & fitness","fees","transport")),
            "payment mode":fake.random_element(elements=("cash","UPI","wallet","net banking","credit card","debit card")),
            "Description":fake.sentence(),
            "Amount":round(random.uniform(100,1000),2),
            "Cashback":round(random.uniform(0,30),1)
        }
        data.append(expense)
    return pd.DataFrame(data)
oct24= gen_exp_data(10,2024,100)
print(oct24)

          Date          Category payment mode  \
0   2024-10-08        investment  net banking
1   2024-10-21      subscription       wallet
2   2024-10-19        investment       wallet
3   2024-10-22  sports & fitness  net banking
4   2024-10-11        investment  net banking
..         ...               ...          ...
95  2024-10-01        stationary          UPI
96  2024-10-28      subscription  credit card
97  2024-10-13              fees  credit card
98  2024-10-21        investment  net banking
99  2024-10-23         transport   debit card

                                          Description  Amount  Cashback
0                            Toward moment sense see.  731.50      10.3
1                               Wind top site enough.  292.53       3.7
2               Think Republican director lose black.  881.69       4.3
3                       Cold kitchen teacher so star.  588.60      20.2
4                       Recent PM happy right reveal.  154.94      14.0
..                                                ...     ...       ...
95         Wide power threat vote prove because rise.  316.34      21.6
96   Police remain rich war throw there write strong.  510.93      11.8
97             Standard become find part true during.  411.91       5.5
98        Bed sound add treatment other value threat.  587.72      12.8
99  Camera condition able who together every accor...  688.19      25.9

[100 rows x 6 columns]

In [17]:
def gen_exp_data(month , year,num=100):
    data=[]
    for i in range (num):
        day=random.randint(1,28)
        date=datetime(year,month,day).strftime('%Y-%m-%d')
        expense={
            "Date":date,
            "Category":fake.random_element(elements=("investment","stationary","subscription","sports & fitness","fees","transport")),
            "payment mode":fake.random_element(elements=("cash","UPI","wallet","net banking","credit card","debit card")),
            "Description":fake.sentence(),
            "Amount":round(random.uniform(100,1000),2),
            "Cashback":round(random.uniform(0,30),1)
        }
        data.append(expense)
    return pd.DataFrame(data)
nov24= gen_exp_data(11,2024,100)
print(nov24)

          Date          Category payment mode  \
0   2024-11-20        investment   debit card
1   2024-11-07         transport       wallet
2   2024-11-11              fees          UPI
3   2024-11-26        stationary   debit card
4   2024-11-17  sports & fitness          UPI
..         ...               ...          ...
95  2024-11-16              fees          UPI
96  2024-11-05        investment         cash
97  2024-11-15        stationary  credit card
98  2024-11-20         transport  credit card
99  2024-11-02  sports & fitness       wallet

                                          Description  Amount  Cashback
0           Employee pass him figure wind especially.  731.85       5.4
1    None plant lot rich century attention hit hotel.  664.60      13.0
2        Discussion treatment head significant smile.  903.52      29.5
3   Continue analysis majority company different k...  365.17       0.2
4                   Represent hospital future garden.  979.63      12.7
..                                                ...     ...       ...
95                               Rule easy order lot.  819.52      26.3
96                   Suggest week huge region indeed.  488.21      22.6
97                              Past impact resource.  542.55      25.4
98       Education five evidence away human six stop.  149.94       0.8
99               Similar turn coach health newspaper.  702.33      15.1

[100 rows x 6 columns]

In [18]:
def gen_exp_data(month , year,num=100):
    data=[]
    for i in range (num):
        day=random.randint(1,28)
        date=datetime(year,month,day).strftime('%Y-%m-%d')
        expense={
            "Date":date,
            "Category":fake.random_element(elements=("investment","stationary","subscription","sports & fitness","fees","transport")),
            "payment mode":fake.random_element(elements=("cash","UPI","wallet","net banking","credit card","debit card")),
            "Description":fake.text(), 
            "Amount":round(random.uniform(100,1000),2),
            "Cashback":round(random.uniform(0,30),1) #if payment mode=="credit card" else 0.0
        }
        data.append(expense)
    return pd.DataFrame(data)
dec24= gen_exp_data(12,2024,100)
print(dec24)

          Date          Category payment mode  \
0   2024-12-11      subscription          UPI
1   2024-12-07         transport          UPI
2   2024-12-13      subscription         cash
3   2024-12-23  sports & fitness          UPI
4   2024-12-28        stationary          UPI
..         ...               ...          ...
95  2024-12-19      subscription  net banking
96  2024-12-24  sports & fitness          UPI
97  2024-12-25         transport  net banking
98  2024-12-21         transport   debit card
99  2024-12-26        investment          UPI

                                          Description  Amount  Cashback
0   Site laugh who community management.\nSide val...  294.36      27.8
1   Top firm visit choice between summer interest ...  172.92       4.9
2   Series teacher chance character.\nBillion gene...  650.39      26.0
3   Control water become control operation seem la...  235.48       1.0
4   Type their clear out final management. Last cu...  650.48       9.4
..                                                ...     ...       ...
95  Citizen light partner cultural. Challenge bloo...  529.28       6.0
96  Red last involve fish accept everything loss. ...  871.21      26.0
97  Style get industry travel scene treatment skin...  432.43       4.6
98  Position our meet need current bank. Outside p...  892.17       3.0
99  Star though especially until. College difficul...  633.64      24.4

[100 rows x 6 columns]

In [19]:
df=pd.concat([jan24,feb24,march24,april24,may24,june24,july24,august24,sept24,oct24,nov24,dec24],axis=0)
df

,Date,Category,payment mode,Description,Amount,Cashback
0,2024-01-04,sports & fitness,wallet,Election Mr radio enter middle event place.,187.01,17.4
1,2024-01-21,fees,debit card,We eat down fight.,565.60,3.7
2,2024-01-08,stationary,credit card,Door ok pass professional foot resource buildi...,704.25,13.7
3,2024-01-25,transport,UPI,Half part coach save.,386.31,10.2
4,2024-01-21,fees,credit card,Half all prepare.,962.85,25.2
...,...,...,...,...,...,...
95,2024-12-19,subscription,net banking,Citizen light partner cultural. Challenge bloo...,529.28,6.0
96,2024-12-24,sports & fitness,UPI,Red last involve fish accept everything loss. ...,871.21,26.0
97,2024-12-25,transport,net banking,Style get industry travel scene treatment skin...,432.43,4.6
98,2024-12-21,transport,debit card,Position our meet need current bank. Outside p...,892.17,3.0
99,2024-12-26,investment,UPI,Star though especially until. College difficul...,633.64,24.4

In [20]:
pip install pandas openpyxl xlsxwriter

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.2.3)
Requirement already satisfied: openpyxl in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (3.1.5)
Requirement already satisfied: xlsxwriter in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (3.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\Lenovo\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [21]:
#save the generated dataframe to an excel file named"expenses.xlsx"
df.to_excel("expenses.xlsx",engine='openpyxl',index=False)

In [22]:
df.to_csv("expenses.csv",index=False)
print('datasaved as csv.')

datasaved as csv.

In [23]:
expense=pd.read_excel("expenses.xlsx")
expense

,Date,Category,payment mode,Description,Amount,Cashback
0,2024-01-04,sports & fitness,wallet,Election Mr radio enter middle event place.,187.01,17.4
1,2024-01-21,fees,debit card,We eat down fight.,565.60,3.7
2,2024-01-08,stationary,credit card,Door ok pass professional foot resource buildi...,704.25,13.7
3,2024-01-25,transport,UPI,Half part coach save.,386.31,10.2
4,2024-01-21,fees,credit card,Half all prepare.,962.85,25.2
...,...,...,...,...,...,...
1195,2024-12-19,subscription,net banking,Citizen light partner cultural. Challenge bloo...,529.28,6.0
1196,2024-12-24,sports & fitness,UPI,Red last involve fish accept everything loss. ...,871.21,26.0
1197,2024-12-25,transport,net banking,Style get industry travel scene treatment skin...,432.43,4.6
1198,2024-12-21,transport,debit card,Position our meet need current bank. Outside p...,892.17,3.0
1199,2024-12-26,investment,UPI,Star though especially until. College difficul...,633.64,24.4

In [24]:
subscription_detail=[" jio hotstar subsciption","youtube premium subscription","netflix subscription"]
investment_detail=["investment in gold","investment in share market","investment in property"]
stationary_detail=["pen and pencil","books and novels"]
sports_fitness_detail=["badmintion","cricket","swimming","gym"]
fees_detail=["school fees","library fees"]
transport_detail=["school bus","library e rickshaw","auto for badminton ground","bike for going stadium practice","bike for gym"]

In [25]:
expense.loc[expense["Category"]=="investment","Description"]=random.choice(investment_detail)
expense.loc[expense["Category"]=="stationary","Description"]=random.choice(stationary_detail)
expense.loc[expense["Category"]=="subscription","Description"]=random.choice(subscription_detail)
expense.loc[expense["Category"]=="sports & fitness","Description"]=random.choice(sports_fitness_detail)
expense.loc[expense["Category"]=="fees","Description"]=random.choice(fees_detail)
expense.loc[expense["Category"]=="transport","Description"]=random.choice(transport_detail)
print(expense)

            Date          Category payment mode                 Description  \
0     2024-01-04  sports & fitness       wallet                    swimming
1     2024-01-21              fees   debit card                library fees
2     2024-01-08        stationary  credit card              pen and pencil
3     2024-01-25         transport          UPI   auto for badminton ground
4     2024-01-21              fees  credit card                library fees
...          ...               ...          ...                         ...
1195  2024-12-19      subscription  net banking        netflix subscription
1196  2024-12-24  sports & fitness          UPI                    swimming
1197  2024-12-25         transport  net banking   auto for badminton ground
1198  2024-12-21         transport   debit card   auto for badminton ground
1199  2024-12-26        investment          UPI  investment in share market

      Amount  Cashback
0     187.01      17.4
1     565.60       3.7
2     704.25      13.7
3     386.31      10.2
4     962.85      25.2
...      ...       ...
1195  529.28       6.0
1196  871.21      26.0
1197  432.43       4.6
1198  892.17       3.0
1199  633.64      24.4

[1200 rows x 6 columns]

In [26]:
expense

,Date,Category,payment mode,Description,Amount,Cashback
0,2024-01-04,sports & fitness,wallet,swimming,187.01,17.4
1,2024-01-21,fees,debit card,library fees,565.60,3.7
2,2024-01-08,stationary,credit card,pen and pencil,704.25,13.7
3,2024-01-25,transport,UPI,auto for badminton ground,386.31,10.2
4,2024-01-21,fees,credit card,library fees,962.85,25.2
...,...,...,...,...,...,...
1195,2024-12-19,subscription,net banking,netflix subscription,529.28,6.0
1196,2024-12-24,sports & fitness,UPI,swimming,871.21,26.0
1197,2024-12-25,transport,net banking,auto for badminton ground,432.43,4.6
1198,2024-12-21,transport,debit card,auto for badminton ground,892.17,3.0
1199,2024-12-26,investment,UPI,investment in share market,633.64,24.4

In [27]:
expense.rename(columns={"payment mode":"payment_mode"},inplace=True)

In [28]:
##show cahsback where payment mode is credit card otherwise zerro 
expense["Cashback"]=expense["Cashback"].where(expense["payment_mode"]=="credit card",0)
print(expense)

            Date          Category payment_mode                 Description  \
0     2024-01-04  sports & fitness       wallet                    swimming
1     2024-01-21              fees   debit card                library fees
2     2024-01-08        stationary  credit card              pen and pencil
3     2024-01-25         transport          UPI   auto for badminton ground
4     2024-01-21              fees  credit card                library fees
...          ...               ...          ...                         ...
1195  2024-12-19      subscription  net banking        netflix subscription
1196  2024-12-24  sports & fitness          UPI                    swimming
1197  2024-12-25         transport  net banking   auto for badminton ground
1198  2024-12-21         transport   debit card   auto for badminton ground
1199  2024-12-26        investment          UPI  investment in share market

      Amount  Cashback
0     187.01       0.0
1     565.60       0.0
2     704.25      13.7
3     386.31       0.0
4     962.85      25.2
...      ...       ...
1195  529.28       0.0
1196  871.21       0.0
1197  432.43       0.0
1198  892.17       0.0
1199  633.64       0.0

[1200 rows x 6 columns]

In [29]:
expense.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          1200 non-null   object
 1   Category      1200 non-null   object
 2   payment_mode  1200 non-null   object
 3   Description   1200 non-null   object
 4   Amount        1200 non-null   float64
 5   Cashback      1200 non-null   float64
dtypes: float64(2), object(4)
memory usage: 56.4+ KB

In [30]:
import pandas as pd

In [31]:
##date shows a objec type we have to convert it into datetime 
expense["Date"]=pd.to_datetime(expense["Date"])

In [32]:
#again checking the info of date
expense.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          1200 non-null   datetime64[ns]
 1   Category      1200 non-null   object
 2   payment_mode  1200 non-null   object
 3   Description   1200 non-null   object
 4   Amount        1200 non-null   float64
 5   Cashback      1200 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 56.4+ KB

In [33]:
expense

,Date,Category,payment_mode,Description,Amount,Cashback
0,2024-01-04,sports & fitness,wallet,swimming,187.01,0.0
1,2024-01-21,fees,debit card,library fees,565.60,0.0
2,2024-01-08,stationary,credit card,pen and pencil,704.25,13.7
3,2024-01-25,transport,UPI,auto for badminton ground,386.31,0.0
4,2024-01-21,fees,credit card,library fees,962.85,25.2
...,...,...,...,...,...,...
1195,2024-12-19,subscription,net banking,netflix subscription,529.28,0.0
1196,2024-12-24,sports & fitness,UPI,swimming,871.21,0.0
1197,2024-12-25,transport,net banking,auto for badminton ground,432.43,0.0
1198,2024-12-21,transport,debit card,auto for badminton ground,892.17,0.0
1199,2024-12-26,investment,UPI,investment in share market,633.64,0.0

In [34]:
pip install mysql.connector

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql.connector in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\Lenovo\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [35]:
import mysql.connector

In [36]:
# connection=mysql.connector.connect(
#     host="localhost",
#     user="root",
#     password="Anuradha@12345"
#     )  
# print(connection)

In [37]:
pip install PyMySQL

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: PyMySQL in c:\users\lenovo\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\Lenovo\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [38]:
import pymysql

In [39]:
connection=pymysql.connect(
    host="localhost",
    user="root",
    password="Anuradha@12345",
    autocommit=True
    )  
print(connection)

<pymysql.connections.Connection object at 0x000001F80E7957F0>

In [40]:
cursor=connection.cursor()

In [41]:
cursor.execute("CREATE DATABASE sqlpython")
connection.commit()
print("database created successfully")

database created successfully

In [42]:
cursor.execute("SHOW DATABASES")
for x in cursor:
   print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sqlpython',)
('sqlpython3',)
('sys',)
('vaccination_project3',)
('world',)

In [43]:
cursor.execute("USE sqlpython3")

0

In [44]:

create_table_query=""" 
CREATE TABLE IF NOT EXISTS EXPENSE(
    ID INT AUTO_INCREMENT PRIMARY KEY,
    Date Date,
    Category varchar(300),
    payment_mode varchar(300),
    Description text,
    Amount DECIMAL(10,2),
    Cashback DECIMAL(10,2)
    );
"""
cursor.execute(create_table_query)
connection.commit()

In [45]:
# define the insert query
# insert_query="""
# INSERT INTO EXPENSE( ID,Date,Category,payment mode,Description,Amount,Cashback) VALUES (%s,%s,%s,%s,%s,%s,%s)
# """

In [46]:
# ##iterate over the dataframe and insert each row 
# for index,row in expense.iterrows():
#     cursor.execute(insert_query,(row["ID"],row["Date"],row["Category"],row["payment mode"],row["Description"]))

In [47]:
for index,row in expense.iterrows():
      cursor.execute("""
         INSERT INTO expense(Date,Category,payment_mode,Description,Amount,Cashback)
         VALUES(%s,%s,%s,%s,%s,%s);
      """,(row["Date"],row["Category"],row["payment_mode"],row["Description"],row["Amount"],row["Cashback"]))

In [48]:
##commit the transaction
connection.commit()